<!-- footer -->
      <footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
         <div class="copy-agile-right">
            <p> 
               © 2018 <a href="#" target="_blank">Konoha </a>
            </p>
            
               <div class="address-gried ">
                  <span class="fas fa-map-marker-alt"></span>
                  <p>Hà Nội: 
                      <br>Số 15, Xã Đàn, quận Hai Bà Trưng
                      <br> Số 253, Nguyễn Chí Thanh, quận Thanh Xuân
                      <br> Số 128 đường Cầu Giấy, quận Cầu Giấy
                  <p>
               </div>
               <div class="address-gried mt-3">
                  <span class="fas fa-phone-volume"></span>
                  <p> +(84)123 456 789<br>+(84) 987 654 321</p>
               </div>
               <div class=" address-gried mt-3">
                  <span class="far fa-envelope"></span>
                  <p><a href="HappyBookstore@gmail.com">Konoha@gmail.com</a>
                  </p>
               </div>
            </div>
     
      </footer>